
# Dependencies
/node_modules
/.pnpm-store
/ai-meet/apps/api/node_modules
/ai-meet/apps/web/node_modules

# Build outputs
/dist
/.next
/.output
/.vercel
/ai-meet/apps/api/dist
/ai-meet/apps/web/.next


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
*.pem

# Env files
.env
.env*.local
